<mat-card>
  <div class="header">
    <mat-card-title>Регистрацията Ви премина успешно!</mat-card-title>
  </div>

  <mat-card-content>
    <div class="image">
      <img mat-card-image src="/assets/images/success.png" />
    </div>
    <h3>Вие успешно се регистрирахте в системата за електронно гласуване.</h3>
    <h3>Моля, проверете имейл адреса си и потвърдете регистрацията.</h3>
    <h3>
      След като потвърдите вашата регистрация, влезте в системата с ЕГН и
      парола.
    </h3>
  </mat-card-content>
  <mat-card-footer
    >Проверете имейл адреса си за верификационно съобщение!</mat-card-footer
  >
  <mat-card-actions>
    <a routerLink="/auth/login" mat-raised-button color="primary"
      >вход в системата</a
    >
  </mat-card-actions>
</mat-card>
