<h2>{{ (voting | async).name }}</h2>
<h3>{{ (voting | async).description }}</h3>
<div id="main-content" style="background-color: primary">
  <mat-tab-group
    [selectedIndex]="selected.value"
    (selectedIndexChange)="
      selected.setValue($event); onSelectPoliticalGroup($event)
    "
  >
    <mat-tab *ngFor="let pg of politicalGroups | async">
      <div *ngIf="pg.id < 0">
        <ng-template mat-tab-label>празен глас </ng-template>
        <div style="display: flex; width: 100%">
          <h2>Не гласувам за никого</h2>
        </div>
      </div>
      <div *ngIf="pg.id > -1">
        <ng-template mat-tab-label> {{ pg.id }} </ng-template>
        <div style="display: flex; width: 100%">
          <app-parent style="width: 60%" [group]="pg"></app-parent>
          <app-child
            style="width: 100%"
            [candidates]="pg.candidates"
          ></app-child>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div mat-card-actions align="end">
    <button
      mat-raised-button
      type="button"
      (click)="goToPreviewPage()"
      color="accent"
      [disabled]="canGoToPreview()"
    >
      Преглед на избора <mat-icon>preview</mat-icon>
    </button>
  </div>
</div>
