@import "src/styles.scss";
// :host {
//     // padding-top: 80px;
//     display: flex;
//     flex-direction: column;
//     overflow: hidden;
// }

:host ::ng-deep .mat-tab-labels {
    flex-direction: column;
}

mat-tab-group {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    //  background-color: $primary;
}

:host ::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

mat-tab-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

:host ::ng-deep mat-ink-bar {
    display: none;
}

/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label.mat-tab-label-active {
    width: 50px;
    // background-color: transparent;
    color: white;
    font-size: x-large;
    background-color: $primary;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label {
    // background-color: transparent;
    background-color: lightgray;
}
.mat-tab-group {
    flex-direction: row !important;
    height: 100%;
}

.mat-tab-labels {
    flex-direction: column !important;
}

// .mat-tab-label-active {
//     border-right: 2px solid red !important;
// }

.mat-ink-bar {
    display: none;
}
