<h2>{{ (voting | async).name }}</h2>
<h3>{{ (voting | async).description }}</h3>
<div id="main-content" style="height: 400px">
  <mat-progress-bar
    *ngIf="loading$ | async"
    color="warn"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-tab-group
    [selectedIndex]="selected.value"
    (selectedIndexChange)="onSelectPoliticalGroup($event)"
  >
    <mat-tab
      [disabled]="preview"
      *ngFor="let politicalGroup of politicalGroups | async"
    >
      <div *ngIf="politicalGroup.num === 0" style="height: 100%">
        <ng-template mat-tab-label>празен глас </ng-template>
        <div class="tile">
          <p style="font-size: 24px; font-weight: 500">Не подкрепям никого</p>
        </div>
      </div>
      <div *ngIf="politicalGroup.politGroupId > 0" class="tile-2">
        <ng-template mat-tab-label>
          {{ politicalGroup.politGroupId }}
        </ng-template>
        <div style="display: flex; width: 100%">
          <app-parent style="width: 60%" [group]="politicalGroup"></app-parent>
          <app-child
            style="width: 100%"
            [candidates]="politicalGroup.candidates"
            [preview]="preview"
          ></app-child>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div mat-card-actions align="end">
    <button
      *ngIf="preview === false"
      mat-raised-button
      class="espi-big-button"
      type="button"
      (click)="goToPreviewPage()"
      color="accent"
      [disabled]="canGoToPreview()"
    >
      Преглед на избора <mat-icon>preview</mat-icon>
    </button>
  </div>
</div>
