<div class="grid-container">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="loading$ | async"
  ></mat-progress-bar>
  <div *ngIf="(loading$ | async) === false">
    <h1 *ngIf="(cards | async)?.length > 0" class="mat-h1">Избори</h1>
    <h1
      *ngIf="(cards | async)?.length === 0 && (loading$ | async) === false"
      class="mat-h1"
    >
      В момента не се провеждат избори.
    </h1>
  </div>
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <!-- <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="goToVotingComponent(card)">
                Резултати
              </button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <!-- If referendum -->
          <mat-card-content class="dashboard-card-content" *ngIf="card.type=='presidential' || card.type=='mayoral'">
          <div>{{ card.text }}</div>
          <section>
            <div style="display: flex">
              <table style="width: 100%">
                <tr>
                  <th>Кандидат</th>
                  <th>Резултат</th>
                </tr>
                <tr *ngFor="let i of [0,1]">
                  <td>Иван</td>
                  <td>26%</td>
                </tr>
              </table>
              <table style="width: 100%">
                <tr>
                  <th>В избирателна секция</th>
                  <th>Електронно</th>
                </tr>
                <tr>
                  <td>00</td>
                  <td>00</td>
                </tr>
              </table>
            </div>
          </section>
        </mat-card-content>

        <!-- If president or mayor -->
        <mat-card-content class="dashboard-card-content" *ngIf="card.type=='referendum'">
          <div>{{ card.text }}</div>
          <section
            *ngFor="
              let question of countings | async | countingsfilter: card.id
            "
          >
            <h4>
              Въпрос: <strong>{{ question.question }}</strong>
            </h4>
            <div style="display: flex">
              <table style="width: 100%">
                <tr>
                  <th>Отговор</th>
                  <th>Общо</th>
                </tr>
                <tr>
                  <td>За</td>
                  <td>{{ question.votesTrue }}</td>
                </tr>
                <tr>
                  <td>Против</td>
                  <td>{{ question.votesFalse }}</td>
                </tr>
              </table>
              <table style="width: 100%">
                <tr>
                  <th>В избирателна секция</th>
                  <th>Електронно</th>
                </tr>
                <tr>
                  <td>{{ question.voted }}</td>
                  <td>{{ question.evoted }}</td>
                </tr>
              </table>
            </div>
          </section>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
