<!-- <mat-horizontal-stepper ...>
    <mat-step *ngFor=let step of [0,1,2]" [ngSwitch]="step" [completed]="steps[step].completed" [label]="steps[step].label">
      <app-my-component-0 *ngSwitchCase="0" [someInput0]="someInput0" (someOutput0)="onSomeOutput0($event)"></app-my-component-0>
      <app-my-component-1 *ngSwitchCase="1" [someInput1]="someInput1" (someOutput1)="onSomeOutput1($event)"></app-my-component-1>
      <app-my-component-2 *ngSwitchCase="2" [someInput2]="someInput2" (someOutput2)="onSomeOutput2($event)"></app-my-component-2>
    </mat-step>
  </mat-horizontal-stepper> -->
<mat-horizontal-stepper [linear]="false" #stepper>
  <!--  [stepControl]="firstFormGroup" -->
  <mat-step
    *ngFor="let q of questions | async"
    [ngSwitch]="q"
    [completed]="q.completed"
    [label]="q.label"
  >
    <ng-template matStepLabel>Question 1</ng-template>
    <div style="width: 100%; height: 100%"></div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Въпрос № 1</mat-card-title>
        <mat-card-subtitle>Отговорете на въпроса с ДА или НЕ</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-card-title
            style="height: 250px; text-align: center; font-size: xx-large"
            >{{ q.text }} {{ q.completed }}</mat-card-title
          >
        </div>

        <div>
          <mat-radio-group
            aria-label="Select an option"
            class="radio-gr"
            (change)="q.completed = true"
          >
            <mat-radio-button #fOpt value="0" [checked]="false" color="warn"
              >ДА</mat-radio-button
            >
            <mat-radio-button
              #sOpt
              style="padding-left: 5px"
              value="1"
              [checked]="false"
              color="warn"
              >НЕ</mat-radio-button
            >
            <mat-radio-button
              #sOpt
              style="padding-left: 5px"
              value="1"
              [checked]="false"
              color="warn"
              >НЯМАМ МНЕНИЕ</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>

    <div align="center" class="button-bar">
      <button mat-raised-button matStepperPrevious color="accent">Назад</button>
      <button mat-raised-button color="accent">Напред</button>
    </div>
  </mat-step>

  <!-- <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Question 2</ng-template>

    <button mat-button class="stepper-button" matStepperPrevious>Назад</button>
    <button
      mat-raised-button
      color="accent"
      class="stepper-button"
      matStepperNext
    >
      Напред
    </button>
  </mat-step> -->

  <!-- <mat-step>
    <ng-template matStepLabel>Преглед</ng-template>
    
    <ng-template matStepContent>
      <mat-card class="final-message">
        <mat-card-content>
          <p>Вашите отговори:</p>
        </mat-card-content>
      </mat-card>
      <div class="row">
        <div class="col">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Въпрос 1</mat-card-title>
             
            </mat-card-header>
            <mat-card-content> fffff </mat-card-content>
          </mat-card>
        </div>
        <div class="col">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Въпрос 2</mat-card-title>
             
            </mat-card-header>
            <mat-card-content> </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div align="center" class="final-message">
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-raised-button color="accent">Изпрати</button>
      </div>
    </ng-template>
  </mat-step> -->
</mat-horizontal-stepper>
<!-- 
<div *ngIf="loading$ | async" class="loader">
  <mat-spinner></mat-spinner>
</div> -->
