<h2>Избирателни секции</h2>
<div class="mat-elevation-z8">
  <mat-progress-bar
    *ngIf="dataSource.loading$ | async"
    color="warn"
    mode="indeterminate"
  ></mat-progress-bar>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Добавена на</th>
      <td mat-cell *matCellDef="let row">
        {{ row.createdAt | date: "d.MM.YYYY HH:mm" }}
      </td>
    </ng-container>
    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <div *ngIf="canOpenCloseSection; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <!-- THIS IS FOR THE SECTION LEADER -->
        <th mat-header-cell *matHeaderCellDef>Адрес</th>
      </ng-template>
      <ng-template #elseBlock>
        <th mat-header-cell *matHeaderCellDef>
          <div class="table-header-search">
            <mat-form-field
              [formGroup]="searchFields"
              style="width: 100%; padding: 0 10px"
            >
              <input
                #in
                autocomplete="off"
                type="search"
                matInput
                #input
                placeholder="Адрес"
                formControlName="fullSearchAddress"
              />
              <mat-icon
                matSuffix
                (click)="doFilter(undefined); in.value = ''"
                color="warn"
              >
                clear
              </mat-icon>
            </mat-form-field>
          </div>
        </th>
      </ng-template>

      <td mat-cell *matCellDef="let row">
        {{ row?.address?.settlement.name }} {{ row?.address?.street }}
        {{ row?.address?.number }} {{ row?.address?.description }}
      </td>
    </ng-container>

    <!-- openedAt Column -->
    <ng-container matColumnDef="openedAt">
      <th mat-header-cell *matHeaderCellDef>Отворена в</th>
      <td mat-cell *matCellDef="let row">
        {{ row.openedAt | date: "d.MM.YYYY HH:mm:ss" }}
      </td>
    </ng-container>
    <!-- closeddAt Column -->
    <ng-container matColumnDef="closedAt">
      <th mat-header-cell *matHeaderCellDef>Затворена в</th>
      <td mat-cell *matCellDef="let row">
        {{ row.closedAt | date: "d.MM.YYYY HH:mm:ss" }}
      </td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>действия</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="showMembers(row)">
            <mat-icon>groups</mat-icon>
            <span>Покажи членовете</span>
          </button>
          <!-- <button
            *ngIf="canOpenCloseSection === false"
            mat-menu-item
            (click)="editVotingSection(row)"
          >
            <mat-icon>edit</mat-icon>
            <span>Редактирай</span>
          </button> -->
          <button
            *ngIf="canOpenCloseSection && row.openedAt === null"
            mat-menu-item
            (click)="openSection(row)"
          >
            <mat-icon>lock_open</mat-icon>
            <span>Отваряне на секцията</span>
          </button>
          <button
            *ngIf="
              canOpenCloseSection &&
              row.openedAt !== null &&
              row.closedAt === null
            "
            mat-menu-item
            (click)="closeSection(row)"
          >
            <mat-icon>lock</mat-icon>
            <span>Затваряне на секцията</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [hidden]="(dataSource.counter | async) === 0"
    [length]="dataSource.counter | async"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 15, 100]"
  ></mat-paginator>
</div>
