<!-- <div style="display: flex; margin: auto; padding: 5px; justify-content: end">
  <button
    mat-fab
    aria-label="icon-button"
    color="accent"
    (click)="openDialog(undefined)"
  >
    <mat-icon>add</mat-icon>
  </button>
</div> -->

<div style="display: flex; justify-content: flex-end">
  <button
    *ngIf="canUnlock()"
    mat-raised-button
    style="margin: 10px"
    color="accent"
    (click)="openDialog(undefined)"
  >
    Създай референдум
  </button>
</div>

<div class="mat-elevation-z8">
  <mat-progress-bar
    *ngIf="dataSource.loading$ | async"
    color="warn"
    mode="indeterminate"
  ></mat-progress-bar>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Наименование</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- startDate Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Планиран за</th>
      <td mat-cell *matCellDef="let row">
        {{ row.startDate | date: "d.MM.YYYY" }}
      </td>
    </ng-container>

    <!-- startedAt Column -->
    <ng-container matColumnDef="startedAt">
      <th mat-header-cell *matHeaderCellDef>Стартирал на</th>
      <td mat-cell *matCellDef="let row">
        {{ row.startedAt | date: "d.MM.YYYY HH:mm:ss" }}
      </td>
    </ng-container>

    <!-- finishedAt Column -->
    <ng-container matColumnDef="finishedAt">
      <th mat-header-cell *matHeaderCellDef>Приключен на</th>
      <td mat-cell *matCellDef="let row">
        {{ row.finishedAt | date: "d.MM.YYYY HH:mm:ss" }}
      </td>
    </ng-container>

    <!-- questions Column -->
    <ng-container matColumnDef="questions">
      <th mat-header-cell *matHeaderCellDef>Брой въпроси</th>
      <td mat-cell *matCellDef="let row">
        {{ row.referendumQuestions.length }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            (click)="openDialog(row)"
            disabled="{{ row.locked && canUnlock() === false }}"
          >
            <mat-icon>edit</mat-icon>
            <span>Редактиране</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr #noDataRow *matNoDataRow class="mat-row no-data-row">
      <td colspan="20" style="text-align: center">Няма намерени записи!</td>
    </tr>
  </table>

  <mat-paginator
    #paginator
    [hidden]="(dataSource.counter | async) === 0"
    [length]="dataSource.counter | async"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 15, 100]"
  ></mat-paginator>
</div>
