<p>vote-preview works!</p>
<div>
  All data
  <div>
    {{ selectedPolitGroup | async | json }}
  </div>

  Данни на кандидата
  <div>
    {{ selectedCandidate | async | json }}
  </div>
  <!-- add form, butons ... -->

  <div mat-card-actions align="end">
    <button mat-raised-button type="button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon> Започни отначало
    </button>
    <button
      mat-raised-button
      type="button"
      (click)="vote()"
      color="accent"
      [disabled]="canVote()"
    >
      Гласувам <mat-icon>front_hand</mat-icon>
    </button>
  </div>
</div>
