<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="(isHandset$ | async) === false"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Меню</mat-toolbar>
    <mat-nav-list>
      <!-- User menus -->
      <div *ngFor="let menu of menus">
        <a
          mat-list-item
          routerLink="{{ menu.route }}"
          routerLinkActive="active"
        >
          <div
            [matBadge]="menu?.badgeSubject | async"
            matBadgePosition="after"
            matBadgeOverlap="true"
            matBadgeColor="accent"
            [matBadgeHidden]="(menu?.badgeSubject | async) <= 0"
            style="width: 100%"
          >
            <div mat-line>{{ menu.label }}</div>
          </div>
          <mat-icon *ngIf="menu.matIcon" color="primary">{{
            menu.matIcon
          }}</mat-icon>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="nav-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div style="width: 100%"></div>

      <div>
        <div>
          <div style="display: flex; align-items: center">
            <div style="display: block; align-items: center">
              <div style="font-size: 16px; height: 20px; text-align: end">
                {{ user?.name }} {{ user?.surname }} {{ user?.family }}
              </div>
              <div style="font-size: 12px; text-align: end">
                <!-- roleType: Role_Types;
                secondRoleType: Role_Types; -->
                <mat-radio-group
                  aria-label="Select an option"
                  style="padding-top: 5px"
                  (change)="onRoleChanged($event)"
                >
                  <mat-radio-button
                    #fOpt
                    value="0"
                    [checked]="fOpt.value === (userObservables[1] | async) + ''"
                    >{{ user?.roleType.description }}</mat-radio-button
                  >
                  <mat-radio-button
                    #sOpt
                    style="padding-left: 5px"
                    value="1"
                    [checked]="sOpt.value === (userObservables[1] | async) + ''"
                    >{{ user?.secondRoleType.description }}</mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div>
            <button
              mat-icon-button
              class="user-logo"
              [matMenuTriggerFor]="userMenu"
            >
              <mat-icon color="primary">account_circle</mat-icon>
            </button>
          </div>
        </div>

        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="onChangePassword()">
            Смана на парола
          </button>
          <button mat-menu-item (click)="onLogout()">Изход</button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
