<div class="content" role="main">
  <!-- <span>{{ title }} app is running!</span> -->

  <div class="card-container">
    <!-- <button class="card card-small" (click)="fetch()" tabindex="0">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>fetch</span>
    </button> -->

    <button class="card card-small" (click)="auth()" tabindex="0">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>call express direct</span>
    </button>

    <button class="card card-small" (click)="auth2()" tabindex="0">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>call express from action</span>
    </button>

    <button class="card card-small" [routerLink]="['/orders']" tabindex="0">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>orders</span>
    </button>
  </div>

  <ngx-json-viewer
    style="background-color: cornsilk; overflow: auto; width: 100%"
    [json]="someObject"
    [expanded]="true"
  ></ngx-json-viewer>
</div>
